
<div id="contenerdorCentrador">
    <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

<nav class="navbar navbar-dark ">
<div class="container-fluid" style="background-color: #73246D; padding: 1%;">
  <ul *ngIf="auth.user$ | async as user">
  <a class="navbar-brand" style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.given_name }}</a>
  </ul>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
    <div class="offcanvas-header">
      <ul *ngIf="auth.user$ | async as user">
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
      </ul>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Director/Home">Home - Mis Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/Director/Mis-Gastos?id={{id_head}}&authCloseTrip={{authCloseTrip}}">Regresar</a>
        </li>
      </ul>
    </div>
    <div class="container" style="padding-bottom: 5%;">
        <button (click)="logout()" class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
    </div>
  </div>
</div>
</nav>

</div>

<div class="text-center">
<h2 style="color: black;">Detalles de gasto seleccionado</h2>
</div>

<div class="container" style="padding: 1%;">
<h5 style="color: black;">Viaje: 2000001826</h5>

<form class="row g-3" style="padding-top: 3%; padding-bottom: 2%;">
  
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label" style="color: black;">COMENTARIO:</label>
    <input type="text" class="form-control card border-primary mb-3" id="inputEmail4" [value]="comentarioGeneral" readonly>
  </div>

  <div class="row" style="padding-top: 3%;">
    <div class="col form-floating mb-3" >
      <input type="text" step="any" name="import" class="form-control card border-dark mb-3" id="floatingInput" [value]="authGeneral" aria-label="First name" readonly>
      <label for="floatingInput">Estado</label>
    </div>
    <div class="col form-floating mb-3" >
      <input type="text" step="any" name="import" class="form-control card border-dark mb-3" id="floatingInput" [value]="exp_typeGeneral" aria-label="First name" readonly>
      <label for="floatingInput">Tipo de gasto</label>
    </div>
  </div>


<div class="row" style="padding-top: 3%;">
 <div class="col form-floating mb-3" >
   <input type="number" step="any" name="import" class="form-control card border-dark mb-3" id="floatingInput" [value]="loc_amountGeneral" aria-label="First name" readonly>
   <label for="floatingInput">Importe</label>
 </div>
 <div class="col form-floating mb-3" >
  <input type="text" step="any" name="import" class="form-control card border-dark mb-3" id="floatingInput" [value]="loc_currGeneral" aria-label="First name" readonly>
  <label for="floatingInput">Moneda</label>
</div>
<div class="col form-floating mb-3" >
  <input type="number" class="form-control card border-dark mb-3" id="floatingInput" [value]="multipli_General" aria-label="First name" readonly>
  <label for="floatingInput">Cantidad</label>
</div>
</div> 

<div class="row" style="padding-top: 3%;">
  <div class="col form-floating mb-3" >
    <input type="text" step="any" name="import" class="form-control card border-dark mb-3" id="floatingInput" [value]="rec_dateGeneral" aria-label="First name" readonly>
    <label for="floatingInput">Fecha de gasto</label>
  </div>
  <div class="col form-floating mb-3" >
   <input type="text" step="any" name="import" class="form-control card border-dark mb-3" id="floatingInput" [value]="tax_codeGeneral" aria-label="First name" readonly>
   <label for="floatingInput">Indicador de impuestos</label>
 </div>
 </div> 

<div class="form-floating">
   <input type="text" class="form-control card border-dark mb-3" [value]="bus_purpoGeneral" aria-label="First name" readonly>
   <label for="floatingTextarea">Info</label>
 </div>

 <div class="form-floating">
   <input type="text" class="form-control card border-dark mb-3" value="{{uuidGeneral}}" aria-label="First name" readonly>
   <label for="floatingTextarea">Descripción</label>
 </div>

</form>

<div class="col-md-2">
<label for="inputPassword4" class="form-label" style="color: black;">Justificación:</label>
<a href="/showFile" name="file" class="form-control card border-dark mb-3" id="inputPassword4" style="text-decoration: none;">file.pdf</a>
</div>

</div>

