<div id="contenerdorCentrador">
    <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">
      

      <a class="" style="color: white;" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
        </svg></a>
      
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="background-color: #c882c2;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel" style="color: white;">Bandeja de entrada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div (click)="email()" id="div1" class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 class="title" style="color: white;">Autorización</h5>
            <p class="text" style="color: white;">Nuevo viaje Aprobado</p>
            <p class="detail" style="color: white; display: none;">El usuario José Ramón (16136996) ha concluido su proceso de captura de gastos de viaje.</p>
          </div>
          <div class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 style="color: white;">Correo2</h5>
            <p style="color: white;">Details....</p>
          </div>
          <div class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 style="color: white;">Correo3</h5>
            <p style="color: white;">Details....</p>
          </div>
          <div class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 style="color: white;">Correo4</h5>
            <p style="color: white;">Details....</p>
          </div>
        </div>
      </div>

      <ul *ngIf="auth.user$ | async as user">
      <a class="navbar-brand" style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.given_name }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <ul *ngIf="auth.user$ | async as user">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
          </ul>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Administrador/Home">Home - Filtro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Administrador/Mis-Viajes">Mis Viajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Administrador/Gastos-Pendientes">Gastos Pendientes</a>
            </li>
          </ul>
        </div>
        <div class="container" style="padding-bottom: 5%;">
          <a (click)="logout()" class="btn btn-lg"  style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </nav>

</div>

<div id="contenerdorCentrador2" class="contianer " style="padding-top: 2%;">

  <div class="card border-secondary mb-4" style="padding: 5%; background-color: #73246D;">

  <div class="row">
  <div class="col form-floating mb-4" >
    <input type="text" [(ngModel)]="n_emp" class="form-control card border-success mb-3" id="floatingInput" placeholder="Numero de empleado" aria-label="First name" >
    <label for="floatingInput">Número de empleado</label>
  </div>
  <div class="col form-floating mb-4" >
    <input type="text" [(ngModel)]="name_emp" class="form-control card border-success mb-3" id="floatingInput" placeholder="Numero de empleado" aria-label="First name" >
    <label for="floatingInput">Nombre de empleado</label>
  </div>
</div>

<div class="row">
  <div class="col form-floating mb-4" >
    <input type="text" [(ngModel)]="n_viaje" class="form-control card border-dark mb-3" id="floatingInput" placeholder="Numero de viaje" aria-label="First name" >
    <label for="floatingInput">Número de Viaje</label>
  </div>
  <div class="col form-floating mb-4" >
    <input type="text" [(ngModel)]="sociedad" class="form-control card border-dark mb-3" id="floatingInput" placeholder="Numero de viaje" aria-label="First name" >
    <label for="floatingInput">Sociedad</label>
  </div>
</div>

<div class="row">
  <div class="col form-floating mb-3">
    <select class="form-select card border-dark mb-3" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Choose...</option>
      <option value="Aprobado">Aprobado</option>
      <option value="Pendiente">Pendiente</option>
      <option value="Rechazado">Rechazado</option>
    </select>
    <label for="floatingSelect">Estatus</label>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label for="" class="form-label" style="color: white;">Fecha inicio:</label>
    <input type="date" name="date" class="form-control card border-dark mb-3" [value]="fechaPasada" id="inputEmail4" required>
  </div>
  <div class="col-md-6">
    <label for="" class="form-label" style="color: white;">Fecha final:</label>
    <input type="date" name="date" class="form-control card border-dark mb-3" id="dateline" [value]="fechaActual" required>
  </div>
</div>

<a (click)="saveData()" style="text-decoration: none;"><button id="button" class="btn btn-lg">Buscar</button></a>


<!--<a href="/Administrador/Answer" style="text-decoration: none;"><button id="button" class="btn btn-lg">Buscar</button></a>
-->


</div>

</div>
