<div id="contenerdorCentrador">
        <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">
      <a class="navbar-brand" style="color: white;">Usuario: 11451873</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: white; font-size: 130%;">
                 <u> Filtrar Viaje </u>
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="('/Director/Filtro/NumeroEmpleado')">Filtrar por Número de empleado</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="('/Director/Filtro/NumeroViaje')">Filtrar por Número de viaje</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="('/Director/Filtro/Fecha')">Filtrar por fecha</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="('/Director/Filtro/Estado')">Filtrar estado</a></li>
                </ul>
              </li>
        </ul>
        <form class="d-flex" role="search" method="GET" action="/">
          <button class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </nav> 

</div>


<div class="text-center" style="padding-top: 2%; padding-bottom: 4%;">
    <h2 style="color: black">REGISTRO DE VIAJES EN ESTADO PENDIENTE</h2>        
</div>


<div class="container" style="padding-bottom: 5%;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">Tijuana</h5>
            <hr>
            <p class="card-text">Número de viaje: 2000001827</p>
            <p class="card-text">Número de empleado: 16136996</p>
            <p class="card-text">Tipo: PL</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-secondary mb-3 text-center" style="color: gray;">Estado: PENDIENTE</p>
            <a [routerLink]="('/Director/Viaje')" style="text-decoration: none;">
            <button class="btn btn-outline-primary">Visualizar</button>
          </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/london.jpg" class="card-img-top" alt="Londres" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">Londres</h5>
            <hr>
            <p class="card-text">Número de viaje: 2000001839</p>
            <p class="card-text">Número de empleado: 56321664</p>
            <p class="card-text">Tipo: 02</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-secondary mb-3 text-center" style="color: gray;">Estado: PENDIENTE</p>
            <button class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/Mexicali.jfif" class="card-img-top" alt="Londres" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">MEXICALI</h5>
            <hr>
            <p class="card-text">Número de viaje: 200000654</p>
            <p class="card-text">Número de empleado: 22751248</p>
            <p class="card-text">Tipo: 02</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-secondary mb-3 text-center" style="color: gray;">Estado: PENDIENTE</p>
            <button class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/london.jpg" class="card-img-top" alt="Londres" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">Londres</h5>
            <hr>
            <p class="card-text">Número de viaje: 2000001842</p>
            <p class="card-text">Número de empleado: 53123473</p>
            <p class="card-text">Tipo: 02</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-secondary mb-3 text-center" style="color: gray;">Estado: PENDIENTE</p>
            <button class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>

