<div id="contenerdorCentrador">
        <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">
      

      <a class="" style="color: white;" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
        </svg></a>
      
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="background-color: #c882c2;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel" style="color: white;">Bandeja de entrada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div (click)="email()" id="div1" class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 class="title" style="color: white;">Autorización</h5>
            <p class="text" style="color: white;">Nuevo viaje</p>
            <p class="detail" style="color: white; display: none;">José Ramón (16136996) ha dado de alta un nuevo viaje que se encuentra disponible para aprobar. Costo total: $13,000.00</p>
          </div>
          <div class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 style="color: white;">Correo2</h5>
            <p style="color: white;">Details....</p>
          </div>
          <div class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 style="color: white;">Correo3</h5>
            <p style="color: white;">Details....</p>
          </div>
          <div class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
            <h5 style="color: white;">Correo4</h5>
            <p style="color: white;">Details....</p>
          </div>
        </div>
      </div>

      <ul *ngIf="auth.user$ | async as user">
      <a class="navbar-brand" style="color: white;">Usuario: {{ user.given_name }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <ul *ngIf="auth.user$ | async as user">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
          </ul>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Director/Home">Home - Mis Viajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/Director/Pendientes">Viajes pendientes por aprobar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar viaje
              </a>
              <ul class="dropdown-menu dropdown-menu-light">
                <li><a class="dropdown-item" href="/Director/Filtro/NumeroEmpleado">Número de empleado</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Director/Filtro/NumeroViaje">Número de viaje</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Director/Filtro/Fecha">Fecha</a></li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="/Director/Filtro/Estado">Estado</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="container" style="padding-bottom: 5%;">
          <a (click)="logout()" class="btn btn-lg"  style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </nav>

</div>

<div id="" class="container">

<div class="text-center">
  <form class="form" (ngSubmit)="submitForm()">
  <label for="" class="form-label" style="color: white;">Fecha final:</label>
  <input type="date" [(ngModel)]="date" name="date" class="form-control card border-dark mb-3" id="dateline" required>
<input type="submit" name="find" class="form-control btn btn-primary" id="inputPassword4" value="Buscar" [disabled]="!formValid()">
</form>
</div>
</div>

<br>

<div class="container" style="padding-bottom: 5%;" [style.display]="todosMisViajes">
  <div class="text-center" style="padding-top: 2%; padding-bottom: 4%;">
    <h2 style="color: black">REGISTRO DE MIS VIAJES</h2>        
</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col" *ngFor="let item of responseArray; let i = index">
        <div class="card">
          <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">{{item.zort1}}</h5>
            <hr>
            <div class="row">
              <div class="col">
                Viaje:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item.reinr}}" aria-label="First name" readonly style="border: 1;">
              </div>
              <div class="col">
                Tipo:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item.hrgio}}" aria-label="Last name" readonly style="border: 1;">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Fecha salida:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item.datv1}}" aria-label="First name" readonly style="border: 1;">
              </div>
              <div class="col">
                Hora salida:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item.uhrv1}}" aria-label="Last name" readonly style="border: 1;">
              </div>
            </div>
            <hr>
            <p class="card-text mb-3 text-center" [style.color]="getEstado(authorized[i]) === 'Aprobado' ? 'green' : (getEstado(authorized[i]) === 'Rechazado' ? 'red' : 'grey')">
              Estado: {{ getEstado(authorized[i]) }}
            </p>
            <button (click)="tripDetail(item.id)" class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>


  <div class="container" style="padding-bottom: 5%;" [style.display]="findTrip">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="text-center" style="padding-top: 2%; padding-bottom: 4%;">
        <h2 style="color: black">Resultado de búsqueda</h2>        
    </div>

    
      <div class="col" *ngFor="let item2 of responseArray2; let i2 = index">
        <div class="card">
          <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
          
          <div class="card-body">
            <h5 class="card-title">{{item2.zort1}}</h5>
            <hr>
            <div class="row">
              <div class="col">
                Viaje:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item2.reinr}}" aria-label="First name" readonly style="border: 1;">
              </div>
              <div class="col">
                Tipo:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item2.hrgio}}" aria-label="Last name" readonly style="border: 1;">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Fecha salida:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item2.datv1}}" aria-label="First name" readonly style="border: 1;">
              </div>
              <div class="col">
                Hora salida:
                <input type="text" class="form-control card border-secondary mb-3" value="{{item2.uhrv1}}" aria-label="Last name" readonly style="border: 1;">
              </div>
            </div>
            <hr>
            <p class="card-text mb-3 text-center" [style.color]="getEstado2(authorized2[i2]) === 'Aprobado' ? 'green' : (getEstado2(authorized2[i2]) === 'Rechazado' ? 'red' : 'grey')">
              Estado: {{ getEstado2(authorized2[i2]) }}
            </p>
            <button (click)="tripDetail(item2.id)" class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>