<div id="contenerdorCentrador">
    <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid" style="background-color: #73246D; padding: 1%;">
  <a class="navbar-brand" style="color: white;">Usuario: 16136996</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="" style="color: white;"></a>
      </li>
    </ul>
    <form class="d-flex" role="search" method="GET" action="/Administrador/Viaje">
      <button class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="regresar">Regresar</button>
    </form>
  </div>
</div>
</nav> 

<div class="text-center" style="padding-top: 5%;">
<h3 style="color: black;">REGISTRO DE GASTOS DE VIAJE</h3>
</div>

<div class="container" style="padding-top: 3%;">
<h5 style="color: black;">Detalles de viaje: #2000001826</h5>
</div>



<div class="container" style="padding-top: 4%; padding-bottom: 5%;">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-primary mb-3">
        <div class="card-body">
        <div class="card-header bg-transparent border-primary">
          <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
        </div>  
          <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
          <p class="card-text">Moneda: MXP</p>
          <p class="card-text">Fecha de gasto: 30/05/2023</p>
          <p class="card-text">Estado: PENDIENTE</p>
          <div class="card-footer bg-transparent border-primary">
          <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg></a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary mb-3">
        <div class="card-body">
        <div class="card-header bg-transparent border-primary">
          <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
          </div>
          <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
          <p class="card-text">Moneda: MXP</p>
          <p class="card-text">Fecha de gasto: 30/05/2023</p>
          <p class="card-text">Estado: APROBADO</p>
          <div class="card-footer bg-transparent border-primary">
          <div id="contenerdorCentrador" style="justify-content: space-between;">
          <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg></a>
        </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">ALIE ALIMENTO P/EMPLEADO</h5>
          </div>  
            <p class="card-text" style="padding-top: 3%;">Importe: 500.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: PENDIENTE</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title">TASE TAXI S/COMP P/EMPLEADO</h5>
            </div>
            <p class="card-text" style="padding-top: 3%;">Importe: 150.00</p>
            <p class="card-text">Moneda: MXP</p>
            <p class="card-text">Fecha de gasto: 30/05/2023</p>
            <p class="card-text">Estado: APROBADO</p>
            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
            <a [routerLink]="('/Administrador/Detalles/Gastos')" style="text-decoration: none; color: #295bd9;" title="Visualizar gasto"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a>
          </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

