<div id="contenerdorCentrador">
    <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">

      <ul *ngIf="auth.user$ | async as user">
      <a class="navbar-brand" style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.given_name }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <ul *ngIf="auth.user$ | async as user">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
          </ul>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/Administrador/Home">Home - Filtro</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="/Administrador/Viaje?id={{id}}">Regresar</a>
            </li>
            <li class="nav-item">
              <a (click)="info()" class="nav-link" aria-current="page" style="cursor: pointer;">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="container" style="padding-bottom: 5%;">
            <button (click)="logout()" class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </nav>

<div class="text-center" style="padding-top: 2%;">
<h3 style="color: black;">REGISTRO DE GASTOS DE VIAJE</h3>
</div>

<div id="contenerdorCentrador" class="text-center" style="padding-top: 1%; justify-content: space-between;">
<a style="color: black; font-size: x-large;">Viaje: {{reinr}}</a>
<a style="color: black; font-size: x-large;">Colaborador: {{name}} - {{pernr}}</a>
</div>

<div class="container" style="padding-block-start: 6px; padding-bottom: 3px;">
<button class="btn btn-primary" (click)="final_approval()">Finalizar Acción</button>
</div>


<div class="container" style="padding-top: 4%; padding-bottom: 5%;">
  <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col" *ngFor="let item of responseArray; let i = index">
        <div class="card border-primary mb-3" style="width: 100%; height: 89%; ">
          <div class="card-body" style="width: 100%; height: 90%;">
          <div class="card-header bg-transparent border-primary">
            <h5 class="card-title text-center">ALIE</h5>
          </div>  

          <div class="container" style=" padding-top: 4%; padding-bottom: 2%; width: 100%; height:60%;">

            <p class="card-text text-center" style="padding-top: 3%;" title="IMPORTE"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
              <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
            </svg><a id="import" style="text-decoration: none;"> {{item.loc_amount}}</a><a id="moneda" style="text-decoration: none;">MXP</a></p>
            
            <p class="card-text text-center" title="Fecha de gasto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
              <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
            </svg><a id="date" style="text-decoration: none;"> {{item.rec_date}}</a></p>
            
            <p class="card-text text-center">Estado <a id="status" [style.color]="getEstado(authorized[i]) === 'Aprobado' ? 'green' : (getEstado(authorized[i]) === 'Rechazado' ? 'red' : 'black')" title="{{getEstado(authorized[i])}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
              <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg></a></p>
            
            </div>

            <div class="card-footer bg-transparent border-primary">
            <div id="contenerdorCentrador" style="justify-content: space-between;">
              <a href='/Administrador/Detalles/Gastos?idHead={{id}}&reinr={{reinrHead}}&receiptno={{item.receiptno}}' style="text-decoration: none; color: #295bd9;" title="Visualizar gasto">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg></a>
                <a (click)="downloadFile(item.uuid)" title="Descargar documento" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16" [style.display]="showFile">
                  <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                </svg></a>
                <a (click)="notify(item.receiptno, item.reinr, item.pernr)" style="cursor: pointer;" title="Cambiar estado">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-toggles2" viewBox="0 0 16 16" [style.display]="changeApprovate">
                  <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
                  <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
                  <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
                </svg>
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>

      

  </div>
</div>
</div>