
<div id="contenerdorCentrador">
        <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">
      <a class="navbar-brand" style="color: white;">Usuario: 16136996</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="" style="color: white;"></a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="GET" action="/MostrarGastos">
          <button class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="regresar">Regresar</button>
        </form>
      </div>
    </div>
  </nav> 

</div>

<div class="text-center">
    <h2 style="color: black;">FORMULARIO PARA EL REGISTRO DE GASTO NUEVO</h2>
</div>

<div class="container" style="padding: 1%;">
<h5 style="color: black;">Viaje: #2000001826</h5>
</div>

<div class="container card border-dark mb-3">
    <div class="container" style="padding: 1%;">
        <form class="row g-3" action="register_success.html" method="POST" enctype="multipart/form-data" style="padding-top: 5%; padding-bottom: 8%;">
  
            <div class="col-md-12">
                <label for="inputState" class="form-label">Tipo de gasto</label>
                <select id="inputState" name="type" class="form-select card border-dark mb-3" required>
                  <option selected>Choose...</option>
                  <option value="ALID">ALID ALIM REST LIVER P/COMPLEMENTAR</option>
                  <option value="ALIL">ALIL ALIMENTO P/LPC</option>
                  <option value="ALIE">ALIE ALIMENTO p/EMPLEADO</option>
                  <option value="ZAVN">ZAVN AVION NO UTILIZADO P//EMPRESA</option>
                  <option value="AVIR">AVIR AVION P/EMPR.REUTILIZADO</option>
                  <option value="AVIP">AVIP AVION P/EMPRESA</option>
                  <option value="ZAVU">ZAVU AVION UTILIZADO P/EMPRESA</option>
                  <option value="CASE">CASE CASETA P/EMPLEADO</option>
                </select>
              </div>
            
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label" style="color: black;">Importe:</label>
              <input type="number" step="any" name="import" class="form-control card border-dark mb-3" id="inputPassword4" placeholder="Ingresa el importe" required>
            </div>
            
            <div class="col-md-6">
                <label for="inputState" class="form-label">Moneda</label>
                <select id="inputState" name="coin" class="form-select card border-dark mb-3" required>
                  <option selected>Choose...</option>
                  <option value="MXP">MXP Pesos Mexicanos</option>
                  <option value="option2">OPTION2</option>
                  <option value="option3">OPTION3</option>
                  <option value="option4">OPTION4</option>
                  <option value="option5">OPTION5</option>
                  <option value="option6">OPTION6</option>
                  <option value="option7">OPTION7</option>
                  <option value="option8">OPTION8</option>
                </select> 
            </div>
            
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label" style="color: black;">Fecha de gasto:</label>
              <input type="date" name="date" class="form-control card border-dark mb-3" id="inputEmail4" required>
            </div>
            
            <div class="col-md-6">
                <label for="inputState" class="form-label">Indicador de impuestos</label>
                <select id="inputState" name="indicator" class="form-select card border-dark mb-3" required>
                  <option selected>Choose...</option>
                  <option value="F2">F2 IVA ACREDITABLE 16%</option>
                  <option value="E3">E3 IVA ACREDITABLE EXENTO</option>
                  <option value="option3">OPTION3</option>
                  <option value="option4">OPTION4</option>
                  <option value="option5">OPTION5</option>
                  <option value="option6">OPTION6</option>
                  <option value="option7">OPTION7</option>
                  <option value="option8">OPTION8</option>
                </select>
            </div>
      
            <div class="col-md-4">
              <label for="inputPassword4" class="form-label" style="color: black;">Cantidad:</label>
              <input type="number" name="count" class="form-control card border-dark mb-3" id="inputPassword4" value="1" required>
            </div>
      
            <div class="col-md-8">
              <label for="inputPassword4" class="form-label" style="color: black;">Info breve:</label>
              <input type="text" name="info" class="form-control card border-dark mb-3" id="inputPassword4" placeholder="Campo opcional">
            </div>
      
            <div class="col-md-12">
              <label for="inputPassword4" class="form-label" style="color: black;">Descripción:</label>
              <textarea name="description" required></textarea>
            </div>
      
            <div class="col-md-12">
              <label for="inputPassword4" class="form-label" style="color: black;">Justificación:</label>
              <input type="file" name="file" class="form-control card border-dark mb-3" id="inputPassword4" required>
            </div>

        <!--
            <div class="col-md-6">
            <button class="btn btn-outline-success">Guardar registro</button>
            </div>
        -->
          </form>
        
            <button (click)="success()" class="btn btn-outline-success">Guardar registro</button>

    </div>
</div>
