#contenerdorCentrador
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;

    padding-top: 10px;
}

#div1
{
    padding-top: 15px;
    background-color: #6e0f6a;
}

#div2
{
    padding-top: 15px;
    background-color: #e86513;
}

