<div id="contenerdorCentrador">
    <img src="../../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container"> 

  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">

      <ul *ngIf="auth.user$ | async as user">
      <a class="navbar-brand" style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.given_name }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <ul *ngIf="auth.user$ | async as user">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
          </ul>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/Director/Home">Home - Mis Viajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/Director/Pendientes">Viajes pendientes por aprobar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar viaje
              </a>
              <ul class="dropdown-menu dropdown-menu-light">
                <li><a class="dropdown-item" href="/Director/Filtro/NumeroEmpleado">Número de empleado</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Director/Filtro/NumeroViaje">Número de viaje</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Director/Filtro/Fecha">Fecha</a></li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="/Director/Filtro/Estado">Estado</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="container" style="padding-bottom: 5%;">
            <button (click)="logout()" class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </nav>

</div>

<div class="text-center" style="padding-top: 4%; padding-bottom: 3%;">
<h3 style="color: black;">Búsqueda por estatus</h3>
</div>

<div class="container">
  <div id="contenerdorCentrador" style="justify-content: space-between;">
      <a (click)="listarPendient()" style="text-decoration: none; color: #295bd9;" title="ESTADO PENDIENTE"><button id="button" class="listarPendient">PENDIENTE</button></a>
      <a (click)="listarAprovate()" style="text-decoration: none; color: #D9CE29;" title="ESTADO APROBADO"><button id="button" class="listarAprovate">APROBADO</button></a>
      <a (click)="listarDeclain()" style="text-decoration: none; color: #D92929;" title="ESTADO RECHAZADO"><button id="button" class="listarDeclain">RECHAZADO</button></a>
    </div>
  </div>
  
  <div class="container" id="cards" style="padding-bottom: 5%;">
    <hr>
  
    <h4 style="color: black;">Listado de todos los viajes en el estado <h4 class="titleList"></h4></h4>
      <br>
  
      <div class="container" id="pendiente" style="padding-bottom: 5%;" [style.display]="styleDisplay">
        <div class="row row-cols-1 row-cols-md-3 g-4">

          <div class="col" *ngFor="let item of responseArray1; let i = index">
            <div class="card">
              <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
              <div class="card-body">
                <h5 class="card-title">{{item.zort1}}</h5>
                <hr>
                <div class="row">
                  <div class="col">
                    Viaje:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.reinr}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    N_Emp:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.pernr}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    Tipo:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.hrgio}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    Precio:
                    <input type="text" class="form-control card border-success mb-3" value="$ {{item.total_loc_amount}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>
      
                <div class="row">
                  <div class="col">
                    Fecha Salida:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.datv1}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    Hora Salida:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.uhrv1}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>
                <hr>
                <p class="card-text card border-secondary mb-3 text-center" style="color: gray;">Estado: PENDIENTE</p>
                <div class="">
                  <div id="contenerdorCentrador" style="justify-content: space-between;">
                      <a (click)="showExpense1(item.id)" style="text-decoration: none;"><button class="btn btn-outline-primary">VISUALIZAR</button></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>



      <div class="container" id="aprobado" style="padding-bottom: 5%;" [style.display]="styleDisplay2">
        <div class="row row-cols-1 row-cols-md-3 g-4">

          <div class="col" *ngFor="let item of responseArray1; let i = index">
            <div class="card">
              <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
              <div class="card-body">
                <h5 class="card-title">{{item.zort1}}</h5>
                <hr>
                <div class="row">
                  <div class="col">
                    Viaje:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.reinr}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    N_Emp:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.pernr}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    Tipo:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.hrgio}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    Precio:
                    <input type="text" class="form-control card border-success mb-3" value="$ {{item.total_loc_amount}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>
      
                <div class="row">
                  <div class="col">
                    Fecha Salida:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.datv1}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    Hora Salida:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.uhrv1}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>
                <hr>
                <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
                <div class="">
                  <div id="contenerdorCentrador" style="justify-content: space-between;">
                      <a (click)="showExpense2(item.id)" style="text-decoration: none;"><button class="btn btn-outline-primary">VISUALIZAR</button></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>



      <div class="container" id="rechazado" style="padding-bottom: 5%;" [style.display]="styleDisplay3">
        <div class="row row-cols-1 row-cols-md-3 g-4">

          <div class="col" *ngFor="let item of responseArray1; let i = index">
            <div class="card">
              <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
              <div class="card-body">
                <h5 class="card-title">{{item.zort1}}</h5>
                <hr>
                <div class="row">
                  <div class="col">
                    Viaje:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.reinr}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    N_Emp:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.pernr}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    Tipo:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.hrgio}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    Precio:
                    <input type="text" class="form-control card border-success mb-3" value="$ {{item.total_loc_amount}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>
      
                <div class="row">
                  <div class="col">
                    Fecha Salida:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.datv1}}" aria-label="First name" readonly style="border: 1;">
                  </div>
                  <div class="col">
                    Hora Salida:
                    <input type="text" class="form-control card border-secondary mb-3" value="{{item.uhrv1}}" aria-label="Last name" readonly style="border: 1;">
                  </div>
                </div>
                <hr>
                <p class="card-text card border-danger mb-3 text-center" style="color: red;">Estado: RECHAZADO</p>
                <div class="">
                  <div id="contenerdorCentrador" style="justify-content: space-between;">
                      <a (click)="showExpense3(item.id)" style="text-decoration: none;"><button class="btn btn-outline-primary">VISUALIZAR</button></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>


      