

    <div id="contenerdorCentrador">
                <img src="../../assets/image/liverpool.jpg" id="logo" alt="">
        </div>
 
        <div id="div1"></div>
        <div id="div2"></div>
    
        <br>
    
        <div class="contenerdorCentrador" style="padding-top: 2%;">
    <div class="container" style="display: flex;align-items: center;justify-content: center; padding-bottom: 5%;">
    <div id="contenedorcentrado">
        <div id="login">
            <form id="loginform" method="GET" action="">
                <img id="contenerdorCentrador" src="../../../assets/image/Business_trip.jpg" height="100%" width="100%">
              
            </form>
            <button (click)="login()" class="google-button">
                <div class="google-button-icon">
                  <img src="../../../assets/image/google-logo.png" alt="Google Icon">
                </div>
                <span class="google-button-text">Iniciar sesión con Google</span>
            </button>

        </div>
        <div id="derecho">
            <div class="titulo">
                <a  style="text-decoration: none; color: #6e0f6a;"><h1>PAPERLESS</h1></a>
                <img src="../../../assets/image/logo_panel.png" id="logoPanel" alt="Logo Liverpool">
                <hr>
                <a  style="text-decoration: none; color: #6e0f6a;"> Bienvenido </a>
            </div>
        </div>
    </div>
</div>
</div>
