#contenerdorCentrador
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;

    padding-top: 10px;
    padding-bottom: 10px;
}

#logo
{
    width: 25%;
    height: 5%;
}

#div1
{
    padding-top: 15px;
    background-color: #73246D;
}

#div2
{
    padding-top: 15px;
    background-color: #F25F29;
}
