<div id="contenerdorCentrador">
        <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">
    
  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">

      <ul *ngIf="auth.user$ | async as user">
      <a class="navbar-brand" style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.given_name }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <ul *ngIf="auth.user$ | async as user">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
          </ul>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Director/Home">Home - Mis Viajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/Director/Pendientes">Viajes pendientes por aprobar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar viaje
              </a>
              <ul class="dropdown-menu dropdown-menu-light">
                <li><a class="dropdown-item" href="/Director/Filtro/NumeroEmpleado">Número de empleado</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Director/Filtro/NumeroViaje">Número de viaje</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Director/Filtro/Fecha">Fecha</a></li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="/Director/Filtro/Estado">Estado</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="container" style="padding-bottom: 5%;">
            <button (click)="logout()" class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </nav> 

</div>

<div class="container" style="padding: 1%;">
<h5 class="titulo-ext">Viaje: {{reinr}}</h5>

<div class="row row-cols-1 row-cols-md-3 g-2" >
  <div class="col">
    <div class="card">
      <img src="../../../assets/image/tijuana.jpg" class="imgTravel" alt="Tijuana">
        <div class="card-img-overlay" style="background-color: #00000045;">
          <h5 class="card-title" style="color: white;">{{zort1}}</h5>
          <p class="card-text" style="color: white;">{{zland}}</p>
     </div>
    </div>
  </div>
</div>

<div id="contenerdorCentrador" style="justify-content: space-between; padding-top: 3%;">
    <a (click)="aprobar1()" class="btn btn-success " title="APROBAR VIAJE" [style.display]="approve1">Aprobar Viaje </a>
    <a (click)="aprobar2()" class="btn btn-success " title="APROBAR VIAJE" [style.display]="approve2">Aprobar Viaje </a>
    <a (click)="aprobar3()" class="btn btn-success " title="APROBAR VIAJE" [style.display]="approve3">Aprobar Viaje </a>

    <a (click)="gastos(idHead)" class="btn btn-primary " title="Visualizar informes de gastos">Informes de gastos</a>
</div>

<hr>

<form class="row g-3" id="form">

  <div class="row">
    <div class="col">
      Estado:
      <p (click)="status(authorized)" [style.color]="getColor(authorized)" style="padding: 2%;" [title]="getTitle(authorized)">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
        </svg>
      </p>
    </div>
    <div class="col">
      Costo:
      <input type="text" class="form-control card border-primary mb-3" id="inputEmail4" value="$ {{total_loc_amount}}" readonly style="color: #0059FF;">
    </div>
    <div class="col">
      Viaje:
      <input type="text" class="form-control card border-dark mb-3" id="inputPassword4" value="{{reinr}}" readonly>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Empleado:
      <input type="text" class="form-control card border-dark mb-3" id="inputEmail4" value="{{pernr}}" readonly>
    </div>
    <div class="col">
      Nombre:
      <input type="text" class="form-control card border-dark mb-3" id="inputPassword4" value="{{name}}" readonly>
    </div>
    <div class="col">
      Apellido:
      <input type="text" class="form-control card border-dark mb-3" id="inputPassword4" value="{{lastname}}" readonly>
    </div>
  </div>
  
  
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label" >Área:</label>
    <input type="text" class="form-control card border-dark mb-3" id="inputEmail4" value="{{area}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="inputEmail4" class="form-label" >Puesto:</label>
    <input type="text" class="form-control card border-dark mb-3" id="inputEmail4" value="{{puesto}}" readonly>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      Tipo:
      <input type="text" class="form-control card border-dark mb-3" value="{{hrgio}}" aria-label="First name" readonly>
    </div>
    <div class="col">
      Destino:
      <input type="text" class="form-control card border-dark mb-3" value="{{zort1}}" aria-label="Last name" readonly>
    </div>
    <div class="col">
      Pais:
      <input type="text" class="form-control card border-dark mb-3" value="{{zland}}" aria-label="Last name" readonly>
    </div>
  </div>


  <div class="col-md-4">
    <label for="inputPassword4" class="form-label" style="color: black;">Región:</label>
    <input type="text" class="form-control card border-dark mb-3" id="inputPassword4" value="" readonly>
  </div>

  <div class="col-md-8" >
    <label for="inputPassword4" class="form-label" style="color: black;">Motivo:</label>
    <input type="text" class="form-control card border-dark mb-3" id="inputPassword4" value="{{kunde}}" readonly>
  </div>

<div class="row">
  <div class="col">
    Fecha de inicio:
    <input type="text" class="form-control card border-dark mb-3" value="{{datv1}}" aria-label="First name" readonly>
  </div>
  <div class="col">
    Hora de inicio:
    <input type="text" class="form-control card border-dark mb-3" value="{{uhrv1}}" aria-label="Last name" readonly>
  </div>
</div>

<div class="row">
  <div class="col">
    Fecha Fin:
    <input type="text" class="form-control card border-dark mb-3" value="{{datb1}}" aria-label="First name" readonly>
  </div>
  <div class="col">
    Hora Fin:
    <input type="text" class="form-control card border-dark mb-3" value="{{uhrb1}}" aria-label="Last name" readonly>
  </div>
</div>

  
</form>

</div>