<div id="contenerdorCentrador">
    <img src="../../../assets/image/logo_panel.png" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

<nav class="navbar navbar-dark ">
<div class="container-fluid" style="background-color: #73246D; padding: 1%;">

<ul *ngIf="auth.user$ | async as user">
  <a class="navbar-brand" style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.given_name }}</a>
</ul>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
  <span class="navbar-toggler-icon" style="color: white; "></span>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
  <div class="offcanvas-header">
    <ul *ngIf="auth.user$ | async as user">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;"><img src="{{user.picture}}" alt="{{user.given_name}}" width="40" height="40" class="rounded-circle me-1" title="{{user.name}}"> {{ user.name }}</h5>
    </ul>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/otherUser/Home">Home</a>
      </li>
      <br>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/otherUser/Gastos?id={{idHead}}&pernr={{pernr}}">Regresar</a>
      </li>
    </ul>
    <br>
  </div>
  <div class="container" style="padding-bottom: 5%;">
      <a href="/Viajero/Home" class="btn btn-lg" style="background-color: #F25F29; color: white;" >Regresar a la sesión actual</a>
  </div>
</div>
</div>
</nav>

</div>  

<div class="text-center">
    <h2 style="color: black;">FORMUALRIO PARA LA ACTUALIZACIÓN DEL REGISTRO DE GASTO</h2>
</div>

<div class="container" style="padding: 1%;">
  <div id="contenerdorCentrador" style="justify-content: space-between;">
    <h4 style="text-decoration: none;" >Viaje: {{reinr}}</h4>
    <h4 style="text-decoration: underline; color: gray;" >{{name}} - {{pernr}}</h4>
  </div>
  </div>

<div class="container" style="padding: 1%;">

  <form class="row g-3" (ngSubmit)="submitForm()" enctype="multipart/form-data" style="padding-top: 1%; padding-bottom: 2%;">

    <div class="col-md3">
      <input type="submit" class="btn btn-outline-warning" name="update" [disabled]="!formValid()" value="Actualizar campos">
    </div> 
  
    <div class="form-floating">
      <select class="form-select card border-dark mb-3" [(ngModel)]="exp_typeN" name="exp_typeN" id="floatingSelect" aria-label="Floating label select example">
        <option selected>{{exp_type}}</option>
        <option value="ALID">ALID ALIM REST LIVER P/COMPLEMENTAR</option>
        <option value="ALIL">ALIL ALIMENTO P/LPC</option>
        <option value="ALIE">ALIE ALIMENTO p/EMPLEADO</option>
        <option value="ZAVN">ZAVN AVION NO UTILIZADO P//EMPRESA</option>
        <option value="AVIR">AVIR AVION P/EMPR.REUTILIZADO</option>
        <option value="AVIP">AVIP AVION P/EMPRESA</option>
        <option value="ZAVU">ZAVU AVION UTILIZADO P/EMPRESA</option>
        <option value="CASE">CASE CASETA P/EMPLEADO</option>
      </select>
      <label for="floatingSelect">Tipo de Gasto</label>
    </div>
  
  <div class="row" style="padding-top: 3%;">
    <div class="col form-floating mb-3" >
      <input type="number" step="any" [(ngModel)]="locAmountN"  name="locAmountN" class="form-control card border-dark mb-3" id="floatingInput" value="{{loc_amount}}" aria-label="First name" required>
      <label for="floatingInput">Importe</label>
    </div>
    <div class="col form-floating mb-3">
      <select class="form-select card border-dark mb-3" [(ngModel)]="locCurrN" name="locCurrN" id="floatingSelect" aria-label="Floating label select example">
        <option selected>{{loc_curr}}</option>
        <option value="MXP">MXP Pesos Mexicanos</option>
        <option value="option2">OPTION2</option>
        <option value="option3">OPTION3</option>
        <option value="option4">OPTION4</option>
        <option value="option5">OPTION5</option>
        <option value="option6">OPTION6</option>
        <option value="option7">OPTION7</option>
        <option value="option8">OPTION8</option>
      </select>
      <label for="floatingSelect">Moneda</label>
    </div>
    <div class="col form-floating mb-3" >
      <input type="number" [(ngModel)]="multipliN" name="multipliN" class="form-control card border-dark mb-3" id="floatingInput" value="{{multipli}}" aria-label="First name" required>
      <label for="floatingInput">Cantidad</label>
    </div>
  </div> 
  
  <div class="col-md-4">
    <label for="" class="form-label" style="color: black;">Fecha de gasto:</label>
    <input type="date" [(ngModel)]="dateN" name="dateN" class="form-control card border-dark mb-3" id="inputEmail4" value="{{rec_date}}" required>
  </div>
  
  <div class="col-md-4">
    <label for="" class="form-label" style="color: black;">Indicador de impuestos:</label>
    <select class="form-select card border-dark mb-3" [(ngModel)]="taxCodeN" name="tax_codeN" id="floatingSelect" aria-label="Floating label select example">
      <option selected>{{tax_code}}</option>
      <option value="F2">F2 IVA ACREDITABLE 16%</option>
      <option value="E3">E3 IVA ACREDITABLE EXENTO</option>
      <option value="option3">OPTION3</option>
      <option value="option4">OPTION4</option>
      <option value="option5">OPTION5</option>
      <option value="option6">OPTION6</option>
      <option value="option7">OPTION7</option>
      <option value="option8">OPTION8</option>
    </select>  
  </div>
  
  <div class="form-floating">
      <input type="text" [(ngModel)]="busPurpoN" name="busPurpoN" class="form-control card border-dark mb-3" value="{{bus_purpo}}" aria-label="First name">
      <label for="floatingTextarea">Info</label>
    </div>
  
    <div class="form-floating">
      <input type="text" [(ngModel)]="descriptN" name="descriptN" class="form-control card border-dark mb-3" value="{{descript}}" aria-label="First name">
      <label for="floatingTextarea">Descripción</label>
    </div>
  
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label" style="color: black;">Justificación:</label>
    <input type="file" (change)="onFileSelected($event)" [(ngModel)]="documentoN" name="documentoN" class="form-control card border-dark mb-3" id="inputPassword4" required accept=".pdf, .xml">
  </div>
  
  <div class="col-md3">
      <input type="submit" class="btn btn-outline-warning" name="update" [disabled]="!formValid()" value="Actualizar campos">
  </div> 
    
  </form>
</div>

