
<div id="contenerdorCentrador">
    <img src="../../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">

      <a class="navbar-brand" style="color: white;">Usuario: 10235463</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;">Usuario: 10235463</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Administrador/Home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar viaje
              </a>
              <ul class="dropdown-menu dropdown-menu-light">
                <li><a class="dropdown-item" href="/Administrador/Filtro/NumeroEmpleado">Número de empleado</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Administrador/Filtro/NumeroViaje">Número de viaje</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Administrador/Filtro/Fecha">Fecha</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search" action="/">
            <button class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

</div>

<div class="text-center">
<h3 style="color: black;">Búsqueda por número de empleado</h3>
</div>

<div class="container" style="padding-top: 3%;">
<form class="row g-3" action="" method="GET">
<div class="col-md-6">
  <label for="inputPassword4" class="form-label" style="color: black;">Número de empleado:</label>
  <input type="text" name="number_viaje" class="form-control card border-dark mb-3" id="inputPassword4" value="16136996" required>
</div>
<div class="col-md-2">
  <label for="inputPassword4" class="form-label" style="color: black;"></label>
 <input type="submit" name="find" class="form-control btn btn-primary" id="inputPassword4" value="Buscar">
</div>
</form>

</div>


<div class="container" style="padding-top: 4%; padding-bottom: 5%;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">Tijuana</h5>
            <hr>
            <p class="card-text">Número de viaje: 2000001827</p>
            <p class="card-text">Número de empleado: 16136996</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
            <a [routerLink]="('/Administrador/Viaje')" style="text-decoration: none;">
            <button class="btn btn-outline-primary">Visualizar</button>
          </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/london.jpg" class="card-img-top" alt="Londres" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">Londres</h5>
            <hr>
            <p class="card-text">Número de viaje: 2004351827</p>
            <p class="card-text">Número de empleado: 16136996</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
            <button class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/image/Mexicali.jfif" class="card-img-top" alt="Londres" width="200px;" height="200px;">
          <div class="card-body">
            <h5 class="card-title">MEXICALI</h5>
            <hr>
            <p class="card-text">Número de viaje: 2000467324</p>
            <p class="card-text">Número de empleado: 16136996</p>
            <p class="card-text">Fecha de salida: 12/12/2021</p>
            <p class="card-text">Hora de salida: 12:00:00 am</p>
            <hr>
            <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
            <button class="btn btn-outline-primary">Visualizar</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>

