<div id="contenerdorCentrador">
    <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
</div>

<div class="container">

  <nav class="navbar navbar-dark ">
    <div class="container-fluid" style="background-color: #73246D; padding: 1%;">

      <a class="navbar-brand" style="color: white;">Usuario: 10235463</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
        <span class="navbar-toggler-icon" style="color: white; "></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;">Usuario: 10235463</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/Administrador/Home">Home - Filtro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Administrador/Gastos-Pendientes">Gastos Pendientes</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search" action="/">
            <button class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

</div>


<div class="text-center" style="padding-top: 2%; padding-bottom: 4%;">
<h2 style="color: black">REGISTRO DE VIAJES CON GASTOS PENDIENTES</h2>        
</div>


<div class="container" style="padding-bottom: 5%;">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
      <div class="card-body">
        <h5 class="card-title">Tijuana</h5>
        <hr>
        <div class="row">
            <div class="col">
              Viaje:
              <input type="text" class="form-control card border-secondary mb-3" value="2000001827" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              N_Emp:
              <input type="text" class="form-control card border-secondary mb-3" value="16136996" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Tipo:
              <input type="text" class="form-control card border-secondary mb-3" value="PL" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              Precio:
              <input type="text" class="form-control card border-success mb-3" value="$ 13,000.00" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Fecha Salida:
              <input type="text" class="form-control card border-secondary mb-3" value="12/12/2021" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              Hora Salida:
              <input type="text" class="form-control card border-secondary mb-3" value="12:00:00 am" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>
        <hr>
        <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
        <a href='/Administrador/Viaje' style="text-decoration: none;">
        <button class="btn btn-outline-primary">Visualizar</button>
      </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/image/london.jpg" class="card-img-top" alt="Londres" width="200px;" height="200px;">
      <div class="card-body">
        <h5 class="card-title">Londres</h5>
        <hr>
        <div class="row">
            <div class="col">
              Viaje:
              <input type="text" class="form-control card border-secondary mb-3" value="2000001839" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              N_Emp:
              <input type="text" class="form-control card border-secondary mb-3" value="56321664" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Tipo:
              <input type="text" class="form-control card border-secondary mb-3" value="02" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              Precio:
              <input type="text" class="form-control card border-success mb-3" value="$ 13,000.00" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Fecha Salida:
              <input type="text" class="form-control card border-secondary mb-3" value="12/12/2021" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              Hora Salida:
              <input type="text" class="form-control card border-secondary mb-3" value="12:00:00 am" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>
        <hr>
        <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
        <button class="btn btn-outline-primary">Visualizar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/image/Mexicali.jfif" class="card-img-top" alt="Londres" width="200px;" height="200px;">
      <div class="card-body">
        <h5 class="card-title">MEXICALI</h5>
        <hr>
        <div class="row">
            <div class="col">
              Viaje:
              <input type="text" class="form-control card border-secondary mb-3" value="200000654" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              N_Emp:
              <input type="text" class="form-control card border-secondary mb-3" value="22751248" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Tipo:
              <input type="text" class="form-control card border-secondary mb-3" value="02" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              Precio:
              <input type="text" class="form-control card border-success mb-3" value="$ 13,000.00" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Fecha Salida:
              <input type="text" class="form-control card border-secondary mb-3" value="12/12/2021" aria-label="First name" readonly style="border: 1;">
            </div>
            <div class="col">
              Hora Salida:
              <input type="text" class="form-control card border-secondary mb-3" value="12:00:00 am" aria-label="Last name" readonly style="border: 1;">
            </div>
          </div>
        <hr>
        <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
        <button class="btn btn-outline-primary">Visualizar</button>
      </div>
    </div>
  </div>
  
  
</div>
</div>

