#contenerdorCentrador
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;

    padding-top: 10px;
    padding-bottom: 10px;
}

#logo
{
    width: 25%;
    height: 5%;
    box-shadow: 5px 5px 5px gray;

}

#div1
{
    padding-top: 15px;
    background-color: #73246D;
}

#div2
{
    padding-top: 15px;
    background-color: #F25F29;
}

.titulo-ext{
    color: #AD4782;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  #cards{
    padding-top: 2px;
    padding-bottom: 2%;
}

#card{
    background-color:#ffff;
    box-shadow: 5px 5px 5px gray;

}

.card:hover
{
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); /* Efecto de sombra al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala para dar una sensación de elevación */
    z-index: 1;
}

@media all and (max-width: 775px)
{

#logo
    {
        width: 230px;
        height: 40px;
    }
}