
    <div id="contenerdorCentrador">
            <img src="../../../assets/image/liverpool.jpg" id="logo" alt="Logo Liverpool">
    </div>

    <div class="container" id="inicio">
    <nav class="navbar navbar-dark ">
      <div class="container-fluid" style="background-color: #73246D; padding: 1%;">
        

        <a class="" style="color: white;" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg></a>
        
        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="background-color: #c882c2;">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel" style="color: white;">Bandeja de entrada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div (click)="getEmail()" class="container" style="background-color: rgba(0, 0, 0, 0.192); border-radius: 10px; cursor: pointer;">
              <h5 class="textEmail" style="color: white;">Correo1</h5>
              <p class="textDetail" style="color: white;">Details....</p>
            </div>
            <div (click)="getEmailRequest2()" id="divChange2" class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
              <h5 class="textEmail2" style="color: white;">Correo2</h5>
              <p class="textDetail2" style="color: white;">Details....</p>
            </div>
            <div (click)="getEmailRequest3()" id="divChange3" class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
              <h5 class="textEmail3" style="color: white;">Correo3</h5>
              <p class="textDetail3" style="color: white;">Details....</p>
            </div>
            <div (click)="getEmailRequest4()" id="divChange4" class="container" style="background-color: rgba(0, 0, 0, 0.477); border-radius: 10px; cursor: pointer;">
              <h5 class="textEmail4" style="color: white;">Correo4</h5>
              <p class="textDetail4" style="color: white;">Details....</p>
            </div>
          </div>
        </div>

        <a class="navbar-brand" style="color: white;">Usuario: 16136996</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: white; background-color: #F25F29;">
          <span class="navbar-toggler-icon" style="color: white; "></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #73246D;">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"  style="color: white;">Usuario: 16136996</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Viajero/Home">Home</a>
              </li>
              <li class="nav-item">
                <a (click)="user()" class="nav-link" style="cursor: pointer;">Cambiar usuario</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filtrar viaje
                </a>
                <ul class="dropdown-menu dropdown-menu-light">
                  <li><a class="dropdown-item" href="/Viajero/Filtro/NumeroViaje">Número de viaje</a></li>
                    <hr class="dropdown-divider">
                  <li><a class="dropdown-item" href="/Viajero/Filtro/Fecha">Fecha</a></li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="/Viajero/Filtro/Estado">Estado</a></li>
                </ul>
              </li>
            </ul>
              <button [routerLink]="('/')" class="btn btn-lg" type="submit" style="background-color: #F25F29; color: white;" title="cerrar sesión">Cerrar Sesión</button>
          </div>
        </div>
      </div>
    </nav>

  </div>  

    <div class="text-center" style="margin-top: 2%;">
        <h2 style="color: black">REGISTRO DE VIAJES</h2>        
    </div>


    <div class="container" style="padding-bottom: 5%;">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="../../../assets/image/tijuana.jpg" class="card-img-top" alt="Tijuana" width="200px;" height="200px;">
            <div class="card-body">
              <h5 class="card-title">Tijuana</h5>
              <hr>
              <div class="row">
                <div class="col">
                  Viaje:
                  <input type="text" class="form-control card border-secondary mb-3" value="2000001827" aria-label="First name" readonly style="border: 1;">
                </div>
                <div class="col">
                  Tipo:
                  <input type="text" class="form-control card border-secondary mb-3" value="PL" aria-label="Last name" readonly style="border: 1;">
                </div>
              </div>
    
              <div class="row">
                <div class="col">
                  Fecha Salida:
                  <input type="text" class="form-control card border-secondary mb-3" value="12/12/2021" aria-label="First name" readonly style="border: 1;">
                </div>
                <div class="col">
                  Hora Salida:
                  <input type="text" class="form-control card border-secondary mb-3" value="12:00:00 am" aria-label="Last name" readonly style="border: 1;">
                </div>
              </div>
              <hr>
              <p class="card-text card border-secondary mb-3 text-center" style="color: gray;">Estado: PENDIENTE</p>
              <a href="/Viajero/Viaje" style="text-decoration: none;">
              <button class="btn btn-outline-primary">Visualizar</button>
            </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/image/london.jpg" class="card-img-top" alt="Londres" width="200px;" height="200px;">
            <div class="card-body">
              <h5 class="card-title">Londres</h5>
              <hr>
              <div class="row">
                <div class="col">
                  Viaje:
                  <input type="text" class="form-control card border-secondary mb-3" value="2000001839" aria-label="First name" readonly style="border: 1;">
                </div>
                <div class="col">
                  Tipo:
                  <input type="text" class="form-control card border-secondary mb-3" value="02" aria-label="Last name" readonly style="border: 1;">
                </div>
              </div>
    
              <div class="row">
                <div class="col">
                  Fecha Salida:
                  <input type="text" class="form-control card border-secondary mb-3" value="12/12/2021" aria-label="First name" readonly style="border: 1;">
                </div>
                <div class="col">
                  Hora Salida:
                  <input type="text" class="form-control card border-secondary mb-3" value="12:00:00 am" aria-label="Last name" readonly style="border: 1;">
                </div>
              </div>
              <hr>
              <p class="card-text card border-success mb-3 text-center" style="color: green;">Estado: APROBADO</p>
              <button class="btn btn-outline-primary">Visualizar</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/image/london.jpg" class="card-img-top" alt="Londres" width="200px;" height="200px;">
            <div class="card-body">
              <h5 class="card-title">Londres</h5>
              <hr>
              <div class="row">
                <div class="col">
                  Viaje:
                  <input type="text" class="form-control card border-secondary mb-3" value="2000001842" aria-label="First name" readonly style="border: 1;">
                </div>
                <div class="col">
                  Tipo:
                  <input type="text" class="form-control card border-secondary mb-3" value="02" aria-label="Last name" readonly style="border: 1;">
                </div>
              </div>
    
              <div class="row">
                <div class="col">
                  Fecha Salida:
                  <input type="text" class="form-control card border-secondary mb-3" value="12/12/2021" aria-label="First name" readonly style="border: 1;">
                </div>
                <div class="col">
                  Hora Salida:
                  <input type="text" class="form-control card border-secondary mb-3" value="12:00:00 am" aria-label="Last name" readonly style="border: 1;">
                </div>
              </div>
              <hr>
              <p class="card-text card border-danger mb-3 text-center" style="color: red;">Estado: RECHAZADO</p>
              <button class="btn btn-outline-primary">Visualizar</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>